<template>
  <div ref="canvas">
    <div class="text-center">
      <p>
        Vezérlés: nagyítás: görgetés, forgatás: bal klikk + kurzor, mozgatás: jobb klikk + kurzor
      </p>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
import pointCloud from '../data/pointcloud.json';
import boxes from '../data/boxes.json';

export default {
  name: 'ThreeCanvas',
  props: {
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 0,
    },
  },
  data() {
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(
      75,
      window.innerWidth / window.innerHeight,
      0.1,
      1000,
    );
    const renderer = new THREE.WebGLRenderer({ antialias: true });
    const light = new THREE.DirectionalLight('hsl(0, 100%, 100%)');

    return {
      scene,
      camera,
      controls: [],
      renderer,
      light,
      speed: 0.01,
      pointCloudLength: pointCloud.length,
    };
  },
  computed: {
    rotate() {
      if (this.speed === '') {
        return 0;
      }
      return this.speed;
    },
  },
  watch: {
    min() {
      this.createPointCloud();
    },
    max() {
      this.createPointCloud();
    },
  },
  created() {
    this.$emit('pointsLoaded', this.pointCloudLength);
    this.scene.add(this.camera);
    this.scene.add(this.light);
    this.createPointCloud();
    this.renderer.setSize(window.innerWidth, window.innerHeight);
    this.light.position.set(0, 0, 10);
    this.scene.background = new THREE.Color('hsl(0, 100%, 100%)');
    this.controls = new OrbitControls(this.camera, this.renderer.domElement);
    this.camera.position.set(0, 0, 5);
    this.controls.update();
    this.controls.rotateSpeed = 0.5;
    this.controls.zoomSpeed = 1;
    this.controls.panSpeed = 0.8;
    this.controls.staticMoving = true;
    this.controls.dynamicDampingFactor = 0.3;
  },
  mounted() {
    this.$refs.canvas.appendChild(this.renderer.domElement);
    this.animate();
  },
  methods: {
    createBoundingBoxes() {
      boxes.forEach((b) => {
        const geometry = new THREE.BoxGeometry(b.w, b.h, b.l);
        const material = new THREE.MeshBasicMaterial({ color: 0x00ff00, wireframe: true });
        const box = new THREE.Mesh(geometry, material);
        box.position.set(b.x, b.y, b.z);
        this.scene.add(box);
      });
    },
    createPointCloud() {
      this.scene.clear();
      const geometry = new THREE.BufferGeometry();
      const v = [];

      for (let i = this.min; i < this.max; i += 1) {
        v.push(pointCloud[i].x);
        v.push(pointCloud[i].y);
        v.push(pointCloud[i].z);
      }
      geometry.setAttribute('position', new THREE.BufferAttribute(new Float32Array([...v]), 3));
      const material = new THREE.PointsMaterial({
        color: 0x1976d2,
        size: 2,
        sizeAttenuation: false,
      });
      const points = new THREE.Points(geometry, material);
      this.scene.add(points);
      this.createBoundingBoxes();
    },
    animate() {
      requestAnimationFrame(this.animate);
      this.renderer.render(this.scene, this.camera);
      this.controls.update();
    },
  },
};
</script>

<style lang="scss">
canvas {
    width: 100% !important;
    height: 80vh !important;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
</style>
