<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-toolbar-title>
        Tesztfeladat
      </v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container>
        <v-row>
          <v-col cols="12">
            <ThreeCanvas
              :min="range[0]"
              :max="range[1]"
              @pointsLoaded="setMaxLength"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-range-slider
              v-model="range"
              label="Megjelenítendő intervallum"
              :max="max"
              min="0"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import ThreeCanvas from './components/ThreeCanvas.vue';

export default {
  name: 'App',

  components: {
    ThreeCanvas,
  },

  data: () => ({
    range: [0, 0],
    max: 0,
  }),
  methods: {
    setMaxLength(length) {
      this.max = length;
      this.range = [0, length];
    },
  },
};
</script>
<style lang="scss" scoped>

</style>
